# Build directories
build/
cmake-build-*/
debug/
release/
.DS_Store

# Qt
*.autosave
*.user
*.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc

# IDE
.idea/
.vscode/
*.pro.user
CMakeLists.txt.user

# Compiled
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.apk
*.aab

# FFmpeg local
ffmpeg/
ffmpeg-*/

# Android
android/.gradle/
android/build/
local.properties
